window.bar {
  background-color: rgba(255, 255, 255, 0.05);
  color: #eceff4;
  padding-right: 0px;
}

button {
  background-color: transparent;
}

button:active {
  background-color: inherit;
}

/*button:hover {*/
/*  border-right: 1px solid #ebcb8b;*/
/*}*/

label {
  font-weight: bold;
}

.workspaces button {
  border: none;
  /*padding: 4px 8px 8px 4px;*/
  padding: 4px 6px;
  min-width: 16px;
  background: transparent;
  box-shadow: none;
  color: #eceff4;
}

.workspaces button.focused {
  border-right: 1px solid #eceff4;
  padding: 4px 6px;
}

.modules-top {
  padding-left: 4px;
  margin-top: 8px;
  padding-right: 4px;

}

.modules-bottom {
  margin-bottom: 8px;
}

.time .date {
  min-width: 16px;
  padding-right: 8px;
}

.battery-label {
  font-size: 12px;
}

.cpu-temp-label {
  font-size: 13px;
}

.archctl {
  border: none;
  min-width: 12px;
  padding: 0px;
  background: transparent;
  box-shadow: none;
  color: #eceff4;
  font-size: 32px;
}

.archctl:hover {
  border: none;
  background: rgba(255, 255, 255, 0.05);
}


.settings-button {
  background: #8087a2;
  font-size: 32px;
  box-shadow: none;
  border: none;
  color: #cad3f5;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.settings-button:hover {
  box-shadow: none;
}

.settings-button:focus {
  box-shadow: none;
  border: none;
}

.archctl-window {

  background: rgba(236, 239, 244, 0.05);
  color: #cad3f5;

  box-shadow: none;
  padding: 8px;
}

.saturation-slider {
  color: #cad3f5;

  padding-top: 4px;
  padding-bottom: 4px;
}

.saturation-slider slider {
  background: #6e738d;
  box-shadow: none;
  border: none;
}

.saturation-slider .label-above {
  opacity: 0;
}
